/* CSS VARIABLES */

:root {
  --boxshadow: box-shadow: 0 8px 16px 0 rgba(255, 255, 255, .05);
  --primary-bkgd-color: #202020;
  --text-color: white;
  --info-color: #6c6c6c;
  --brand-color: #1b837c;
  --font-family: "Raleway",
    sans-serif;

}

@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Bungee+Shade&family=Monoton&display=swap");


/* CSS RESETS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

/* GLOBALS */

body {
  
  font-family: var(--font-family);
  color: white;
  background-color: var(--primary-bkgd-color);
  line-height: 1.625rem;
}

.app-wrapper {
  background-color: inherit;
  display: block;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
}

h4 {
  text-align: justify;
}

@media (min-width: 648px) {
  .app-wrapper {
      width: 80%;
  }
}

li {
  list-style: none;
  color: #fff;
}

a {
  text-decoration: none;
  padding: 0;
  color: white;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: .2rem;
}

/* a:visited {
  color: white;
}
a:hover {
  color: g;
}
a:active {
  color: white;
} */

.separator {
margin: 30px 0;
}

.info-notify {
  border-left: 5px solid white;
  padding-left: 10px;
}

@media (min-width: 648px) {
  .info-notify {
      width: 350px;
  }
}

@media (min-width: 900px) {
  .info-notify {
      width: 600px;
  }
}

.work-opportunity-message {
  margin: 80px 0 20px 0;
}

.work-opportunity-message a {
  color: white;
}

h2 {
  margin: 40px 0 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 10px;
  text-decoration: underline;

}

h3 { 
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin: 20px 0;
}

/* COMPONENTS */

nav {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-right: 20px;
  width: auto;
  height: 3rem;
  background: #282936;
  border: 1px solid var(--info-color);
  border-radius: 1.625rem;
  box-shadow: var(--boxshadow);
  z-index: 2000;
}

nav span {
  margin: 0 15px;
  font-size: 32px;
  float: left;
}

.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  gap: 2rem;
  padding-left: 10px;
  border-left: thin solid grey;
  height: 100%;
}

.title {
  margin: 80px 0 0 0;
  width: 100%;
  text-align: center;
}

.links {
  border: 1px solid var(--info-color);
  padding: 2px 5px;
  border-radius: .5rem;
  background-color: var(--info-color);
  color: var(--text-color);
  display: inline-block;
}

.my-name {
  margin: 20px auto;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .5rem;
  line-height: 2rem;
}

.email {
  white-space: nowrap;
}

.section {
  /* border: 1px solid grey; */
  box-sizing: border-box;
  padding: 20px 5px;
  box-shadow: var(--boxshadow);
  margin: 20px 0;
}

@media (min-width: 900px) {
  .section {
    padding: 20px 10px;
  }
}

picture {
  margin-top: 20px;
}

.picture-profile {
  text-align: center;
}

.profile-quotes {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, .05);
  width: 100%;
}

.volunteering {
  text-align: left;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  padding: 0;
}

.list-items {
  border: 1px solid var(--info-color);
  padding: 10px;
  border-radius: .5rem;
  font-weight: 200;
}

.card {
  height: 100%;
  width: 100%;
  padding: 10px 0 0px 0;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, .05);
  margin-bottom: 20px;
}

.card-info {
  display: block;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  margin-top: -8px;
  text-align: center;
  /* line-height: 1.625rem; */
}

.card-info a  {
  display: inline-block;
  justify-content: flex;
  align-items: center;
  width: auto;
  padding: 5px;
  color: white;
  /* margin-bottom: 20px; */
}

.quotes {
  word-break: word-break;
  padding: 10px;
  font-weight: 400;
  font-style: italic;
}

.clients-quotes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

@media (min-width: 648px) {
  .clients-quotes {
    grid-template-columns: repeat(2, 1fr);
  }
}
  
@media (min-width: 1024px) {
  .clients-quotes {
    grid-template-columns: repeat(3, 1fr);
  }
}

.client-quotes-card {
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

@media (min-width: 648x) {
  .client-quotes-card {
  width: 350px;
  }
}


.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  color: white;
  transform: scale(60%);
}

.social-media-links a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  width: auto;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .5rem;
  text-transform: lowercase;
}
@media (min-width: 648px) {
  .social-media {
    flex-direction: row;
    gap: 3rem;
  }
}

.img {
  border-radius: 50%;
  padding: 10px;
  border-left: 5px solid grey;
  border-right: 5px solid grey;
}

.profile {
  display: block;
}

@media (min-width: 900px) {
  .profile-section-one {
      display: flex;
      align-items: center;
      gap: 1rem;
  }
}

.profile-img {
  width: 150px;
  height: 150px;
}

.picture-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.clients-img {
  width: 30px;
  height: 30px;
}

.project-img {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 250px;
}

.clients-projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
 height: auto;
}

@media (min-width: 648px) {
  .clients-projects {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:1024px) {
  .clients-projects {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.clients-project-card {
  height: auto;
  width: 280px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  word-wrap: break-word;
}
@media (min-width: 900px ) {
  .clients-project-card {
    width: 350px;
  }
}

.card-company span, .card-role span {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.copyright {
  text-align: center;
}

form {
  width: 90%;
  display: inline-block;
}


@media (min-width: 640px) {
    form {
      width: 80%;
    }
    .form {
      text-align: center;
    }
}
  
input:focus{
  padding-top: 50px;
  color: #fff;
}
textarea.focus {
  color: #fff;
}

input, textarea {
  color: #fff;
}


.custom-field {
  position: relative;
  top: 0;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin:  10px 0;
  --field-padding: 12px;
  width: auto;
  color: white;
}

input:not(:focus):not(:placeholder-shown):invalid ~.validation-error-message {
  display: block;
  font-size: 11px;
  opacity: 1;
  color: #FF7F7F;
}

textarea:not(:focus):not(:placeholder-shown):invalid ~.validation-error-message-textarea {
  display: block;
  font-size: 11px;
  opacity: 1;
  color: #FF7F7F;
}


input:not(:focus)::placeholder,textarea:not(:focus)::placeholder{
  display: block;
  font-size: 11px;
  opacity: 0;
}


.custom-field input, .custom-field textarea {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
  margin: 20px 0;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 10px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
    margin: 10px 0;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -12px;
  font-size: 15px;
  color: white;
  width: auto;
  border: 1px solid white;
  border-radius: .2rem;
  padding:5px;
}

 /* ONE */
 .custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  top: -2px;
  left: 0;
  padding: 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #fff;
  transition-delay: 0.1s;
  border: none;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: -30px;
  font-size: 15px;
  color: #fff;
  border-radius: .5rem;
  padding: 5px;
  width: auto;
}

/* TWO */
.custom-field.two input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.two input + .placeholder {
  top: -2px;
  left: 0;
  padding: 5px;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  border-color: #fff;
  transition-delay: 0.1s;
  border: none;
}

.custom-field.two input.dirty + .placeholder,
.custom-field.two input:not(:placeholder-shown) + .placeholder,
.custom-field.two input:focus + .placeholder {
  top: -30px;
  font-size: 15px;
  color: #fff;
  border-radius: .5rem;
  padding:8px 5px;
  width: auto;
}

/* THREE */
.custom-field.three input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.three input + .placeholder {
  top: -2px;
  left: 0;
  padding: 5px;
}

.custom-field.three input.dirty,
.custom-field.three input:not(:placeholder-shown),
.custom-field.three input:focus {
  border-color: #fff;
  transition-delay: 0.1s;
  border: none;
}

.custom-field.three input.dirty + .placeholder,
.custom-field.three input:not(:placeholder-shown) + .placeholder,
.custom-field.three input:focus + .placeholder {
  top: -30px;
  font-size: 15px;
  color: #fff;
  border-radius: .5rem;
  padding:8px 5px;
  width: auto;
}

/* FOUR */
.custom-field.four input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.four input + .placeholder {
  top: -2px;
  left: 0;
  padding: 5px;
}

.custom-field.four input.dirty,
.custom-field.four input:not(:placeholder-shown),
.custom-field.four input:focus {
  border-color: #fff;
  transition-delay: 0.1s;
  border: none;
}

.custom-field.four input.dirty + .placeholder,
.custom-field.four input:not(:placeholder-shown) + .placeholder,
.custom-field.four input:focus + .placeholder {
  top: -30px;
  font-size: 15px;
  color: #fff;
  border-radius: .5rem;
  padding:8px 5px;
  width: auto;
}

/* FIVE */
.custom-field.five textarea {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
  padding: 10px;
  color: #fff;
}

.custom-field.five textarea + .placeholder {
  top: -170px;
  left: 0;
  padding: 5px;
}

.custom-field.five textarea.dirty,
.custom-field.five textarea:not(:placeholder-shown),
.custom-field.five textarea:focus {
  border-color: #fff;
  transition-delay: 0.1s;
  border: none;
}

.custom-field.five textarea:focus {
  padding: 20px 0 0 10px;
  color: #fff;
}

.custom-field.five textarea.dirty + .placeholder,
.custom-field.five textarea:not(:placeholder-shown) + .placeholder,
.custom-field.five textarea:focus + .placeholder {
  top: -200px;
  font-size: 15px;
  color: #fff;
  width: auto;
  border: 1px solid white;
  border-radius: .5rem;
  padding:8px 5px;
}

.validation-error-message {
  display: none;
  position: relative;
  top: -15px;
  left: 0;
  padding: 5px;
  border:1px solid white;
  text-align: left;
  color: salmon;
}

.validation-error-message-textarea {
  display: none;
  top: -22px;
}

/* Removing input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: 0 0 0 1000px #202020 inset !important;
    -webkit-box-shadow: 0 0 0 1000px #202020 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.form-info-notify {
  text-align: left;
  font-size: .8rem;
  font-style: italic;
}

.button-container {
  text-align: center;
}

.button {
margin: 30px 0;
text-align: center;
border-radius: .3rem;
padding: 10px 10px;
width: 100px;
border: 1px solid white;
font-size: 1rem;
color: white;
}

.footer {
  margin-top: 30px;
  border-radius: 0;
  position: relative;
  bottom: 0;
  border: 1px solid grey;
}

.copyright {
  text-align: center;
}

/* UTILS */

.hidden {
  display: none;
}

/* button */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 10px;
  font-family: inherit;
}
button.btn {
  width: 260px;
  height: auto;
}
button.btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  left: 0;
  display: block;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 3rem;
  background: #666;
  border-radius: 1.625rem;
}

@media (min-width: 900px) {
  button.btn .circle {
    width: 300px;
  }
}

button.btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.btn .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: .8rem;
}

button.btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 0.75rem 0 0.75rem 25px; */
  /* margin: 0 0 0 1.85rem; */
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: left;
  text-transform: uppercase;
  width:auto;
}

.button.btn .button-text a {
  /* text-align: left; */
  margin-left: none;
}

button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.email-link-text a {
  font-size: .825rem;
  font-weight: 900;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5rem;
}

.project-link {
  position: relative;
  left: 0px;
  transform: scale(60%);
  margin: 0 auto;
  /* width: 100px; */
  height: auto;
}

button.btn .project-link-text {
  position: relative;
  left: 10px;
  top: -40px;
  font-size: 1rem;
}
.project-info-notify {
  font-weight: 700;
  width: 280px;
}